<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video App</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="inner-container">
        <div class="left-inner-container">
            
        </div>
        <div class="right-inner-container">
            
        </div>
    </div>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>